* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/*styling of the container*/
.container {
 flex-wrap: wrap;
  display: flex;
  justify-content: center;

}

/*styling the divs*/

.one{
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-color: aqua;
  width: 30%;
  margin: 10px;
}
.two{
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-color: aqua;
  width: 30%;
  margin: 10px;
}
.three{
  border: 1px solid black;
  color: white;
  padding: 10px;
  background-color: aqua;
  width:30%;
  margin: 10px;
}